@import "../../styles/responsive.scss";

.single{
    display: flex;

    @include xl{
        flex-direction: column;
        gap: 50px;
    }

    .view{
        flex:1;

        hr{
            width: 90%;
            border-width: 0.5px;
            border-color: gray;
            margin-bottom: 20px;

            @include md{
                display: none;
            }
        }

        .info{
            .topInfo{
                display: flex;
                gap: 15px;
                align-items: center;
                margin-bottom: 20px;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 40%;
                    object-fit: cover;
                }

                .title{
                    font-size: 20px;
                }

                button{
                    padding:5px;
                    width: 20%;
                }

            }

            .details{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
                text-transform: capitalize;
            }
        }

        .chart{
            width: 90%;
            height: 500px;

            @include md{
                display: none;
            }
        }
    }

    .activities{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1{
            font-size: 20px;
        }
        .list{
          

            p{
                font-weight: 500;
            }
            span{
                font-weight: lighter;
            }

            ul{
                li{
                    list-style-type: none;
                    position: relative;
                    width: 1px;
                    padding-bottom: 50px;
                    background-color: #f45b69;
    
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 95%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #f45b69;
                        transform: translateX(-50%);
                      }

                      .item{
                        min-width: 480px;
                        padding: 15px;
                        background-color: #f45b6810;

                        @include md{
                            min-width: 250px;
                        }
                      }
                }
            }

            
        }

    }
}